<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fengp.basic.module.nmt.dal.mysql.objectivemode.ObjectiveModeMapper">

    <select id="listObjectiveMode" parameterType="Long" resultType="cn.fengp.basic.module.nmt.dal.dataobject.objectivemode.ObjectiveModeExDO">
        select t.*,t1.name as objective_name,t2.name as mode_name  from nmt_objective_mode t
        left join nmt_course_objective t1 on t.objective_id = t1.id
        left join nmt_evaluate_mode t2 on t.mode_id = t2.id where t.course_id = #{courseId} and t.deleted = 0
    </select>


</mapper>