<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fengp.basic.module.nmt.dal.mysql.achievementevaluation.AchievementEvaluationMapper">

    <!--
        一般情况下，尽可能使用 Mapper 进行 CRUD 增删改查即可。
        无法满足的场景，例如说多表关联查询，才使用 XML 编写 SQL。
        代码生成器暂时只生成 Mapper XML 文件本身，更多推荐 MybatisX 快速开发插件来生成查询。
        文档可见：https://www.iocoder.cn/MyBatis/x-plugins/
     -->

    <!--ROUND(SUM(nsa.score) / NULLIF(SUM(nep.score), 0), 4):
    1.四舍五入保留4位小数
    2.NULLIF(SUM(nep.score), 0): 如果和0相等结果为null,反之返回sum值 -> (NULLIF(3, 3)  → NULL,两者相等返回null)
    3.10 / NULL = null   -->
    <select id="getStuModeScoreRateList" resultType="com.alibaba.fastjson.JSONObject">
        select ROUND(SUM(nsa.score) / NULLIF(SUM(nep.score), 0), 4) as modeScoreRate,nsa.student_id as studentId,nsa.mode_id as modeId,nom.course_id as courseId
        from nmt_student_achievement nsa
                 left join nmt_evaluate_plan nep on nsa.plan_id = nep.id
                 left join nmt_objective_mode nom on nep.mode_id = nom.mode_id
                 left join nmt_class_student ncs on nsa.student_id = ncs.id
        where ncs.class_id = #{classId} and nom.course_id = #{courseId} and nsa.deleted = 0
        group by nsa.student_id ,nsa.mode_id
    </select>

    <select id="getStuObjModeScoreList" resultType="com.alibaba.fastjson.JSONObject">
        select ncs.name as studentName,nsa.student_id as studentId,SUM(nsa.score) as achscore,MAX(nom.score) as omscore ,nsa.mode_id as modeId,
               nsa.objective_id as objectiveId,nem.name as modeName,nco.name as objectiveName,nco.content, nem.weight,nco.expect_value as expectValue
        from nmt_student_achievement nsa
        left join nmt_class_student ncs on nsa.student_id = ncs.id
        left join nmt_objective_mode nom on nsa.objective_id = nom.objective_id and nsa.mode_id = nom.mode_id
        left join nmt_course_objective nco on nom.objective_id = nco.id
        left join nmt_evaluate_mode nem on nom.mode_id = nem.id
        WHERE ncs.class_id = #{classId} and nom.course_id = #{courseId} and nsa.deleted = 0
        GROUP BY nsa.student_id,nsa.mode_id ,nsa.objective_id
        ORDER BY nsa.objective_id,nsa.mode_id,ncs.number
    </select>
</mapper>