<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fengp.basic.module.nmt.dal.mysql.evaluateplan.EvaluatePlanMapper">

    <!--去除矩阵表中，分数为0的值-->
    <select id="listEvaluatePlan" parameterType="Long" resultType="cn.fengp.basic.module.nmt.dal.dataobject.evaluateplan.EvaluatePlanExDO">
        select nep.id,nep.score,nep.content,nom.objective_id,nom.mode_id,nom.score as total_score,
               nom.id as objective_mode_id,nco.name as objective_name,nem.name as mode_name
        from nmt_objective_mode nom left join nmt_evaluate_plan nep on nom.id = nep.objective_mode_id AND (nep.deleted = 0 OR nep.deleted IS NULL)
        left join nmt_course_objective nco on nom.objective_id = nco.id
        left join nmt_evaluate_mode nem on nom.mode_id = nem.id
        where nom.course_id = #{courseId} and nom.score != 0 and nom.deleted = 0
        order by nom.objective_id,nom.mode_id,COALESCE(nep.content, '')
    </select>

</mapper>